* {
    box-sizing: border-box;

  }

  .row{
        float: left;
        background-color:lightgrey;
        width: 100%;
        padding: 10px;
        border: 10px;                   
        height: 100; /* Should be removed. Only for demonstration */
        border: 2px soild black;
  }
  
  /* Create two equal columns that floats next to each other */
  .column1 {
    float: left;
    background-color:#f3f49c;
    width: 25%;
    padding: 10px;
    border: 10px;  
    border: 2px soild black;                 
    height: 500px; /* Should be removed. Only for demonstration */
  }
        .column2 {
        border: 10px;    
        float: left;
        width: 50%;
        padding: 10px;
        background-color:#be8c8c;
        height: 500px; /* Should be removed. Only for demonstration */
  } 
    .column3 {    
        float: left;
        width: 25%;
        padding: 10px;
        border: 2px soild black;
        background-color:#83c764;
        height: 500px; /* Should be removed. Only for demonstration */
    }   

    .column4  {   
        border: 2px soild black;
        margin: 2%;
        margin-top: 2%; 
        float:;
        width: 50%;
        padding: 10px ;
        border: 20px soild #000;
        background-color: red;
        height: 240px; /* Should be removed. Only for demonstration */
    }   

    .column5 {   
        border: 2px soild black;
        margin: 2%;
        margin-top: 2%; 
        float:;
        width: 20%;
        padding: 10px ;
        border: 20px soild #000;
        background-color:blue;
        height: 240px; /* Should be removed. Only for demonstration */
    }   

    .column6{  
        border: 2px soild black; 
        background-color:#2c7394;
        margin: 2%;
        margin-top: 2%; 
        float:;
        width: 80%;
        padding: 10px ;
        border: 20px soild #000;
        height: 20%; /* Should be removed. Only for demonstration */
    }   

    .coluumn7{
        border: 2px soild black;

        background-color:#3f9271;
        margin: 2%;
        margin-top: 2%;
        float: ;
        width: 100%;
        height: 100%;
    }
  

