/* #fetch-data{
    width:100px;
    height:100px;
    transition:width 1s, height 1s;
    }
#fetch-data:hover{
    width:200px;
    height:200px;
    } */

    #data{
        color: red;
    }